RememberVinil/BackOffice/Service References/FabricanteBService/FabricanteBService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FabricanteBService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9011/FabricanteBService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9011/FabricanteBService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9011/FabricanteBService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FabricanteB" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFabricanteBService_getQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:getQuote" />
  </wsdl:message>
  <wsdl:message name="IFabricanteBService_getQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:getQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricanteBService_MakeCD_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeCD" />
  </wsdl:message>
  <wsdl:message name="IFabricanteBService_MakeCD_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeCDResponse" />
  </wsdl:message>
  <wsdl:portType name="IFabricanteBService">
    <wsdl:operation name="getQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricanteBService/getQuote" message="tns:IFabricanteBService_getQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricanteBService/getQuoteResponse" message="tns:IFabricanteBService_getQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeCD">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricanteBService/MakeCD" message="tns:IFabricanteBService_MakeCD_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricanteBService/MakeCDResponse" message="tns:IFabricanteBService_MakeCD_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFabricanteBService" type="tns:IFabricanteBService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getQuote">
      <soap:operation soapAction="http://tempuri.org/IFabricanteBService/getQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeCD">
      <soap:operation soapAction="http://tempuri.org/IFabricanteBService/MakeCD" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabricanteBService">
    <wsdl:port name="BasicHttpBinding_IFabricanteBService" binding="tns:BasicHttpBinding_IFabricanteBService">
      <soap:address location="http://localhost:9011/FabricanteBService/FabricanteBService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>