RememberVinil/FabricanteC/Service References/BOCallBack/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BackOfficeCallBackService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/BackOffice" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBackOfficeCallBackService_GetStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStatus" />
  </wsdl:message>
  <wsdl:message name="IBackOfficeCallBackService_GetStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IBackOfficeCallBackService_GetTransporterPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransporterPrice" />
  </wsdl:message>
  <wsdl:message name="IBackOfficeCallBackService_GetTransporterPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransporterPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IBackOfficeCallBackService_GetFabricantePrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFabricantePrice" />
  </wsdl:message>
  <wsdl:message name="IBackOfficeCallBackService_GetFabricantePrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFabricantePriceResponse" />
  </wsdl:message>
  <wsdl:portType name="IBackOfficeCallBackService">
    <wsdl:operation name="GetStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetStatus" message="tns:IBackOfficeCallBackService_GetStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetStatusResponse" message="tns:IBackOfficeCallBackService_GetStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransporterPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetTransporterPrice" message="tns:IBackOfficeCallBackService_GetTransporterPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetTransporterPriceResponse" message="tns:IBackOfficeCallBackService_GetTransporterPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFabricantePrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetFabricantePrice" message="tns:IBackOfficeCallBackService_GetFabricantePrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBackOfficeCallBackService/GetFabricantePriceResponse" message="tns:IBackOfficeCallBackService_GetFabricantePrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBackOfficeCallBackService" type="tns:IBackOfficeCallBackService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStatus">
      <soap:operation soapAction="http://tempuri.org/IBackOfficeCallBackService/GetStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransporterPrice">
      <soap:operation soapAction="http://tempuri.org/IBackOfficeCallBackService/GetTransporterPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFabricantePrice">
      <soap:operation soapAction="http://tempuri.org/IBackOfficeCallBackService/GetFabricantePrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BackOfficeCallBackService">
    <wsdl:port name="BasicHttpBinding_IBackOfficeCallBackService" binding="tns:BasicHttpBinding_IBackOfficeCallBackService">
      <soap:address location="http://localhost:9003/BackOfficeCallBackService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>