RememberVinil/FabricanteC/Service References/BOCallBack/Transportadora.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Transportadora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transportadora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransportJobResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucess" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobResponse" nillable="true" type="tns:TransportJobResponse" />
</xs:schema>