RememberVinil/BackOffice/Service References/FabricanteAService/FabricanteAService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9010/FabricanteAService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FabricanteA" />
  <xs:element name="getQuote">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FabricanteA" minOccurs="0" name="request" nillable="true" type="q1:ObjectQuoteRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getQuoteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FabricanteA" minOccurs="0" name="getQuoteResult" nillable="true" type="q2:FabricantePriceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCD">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FabricanteA" minOccurs="0" name="request" nillable="true" type="q3:ObjectCDRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeCDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FabricanteA" minOccurs="0" name="MakeCDResult" nillable="true" type="q4:ObjectMakeCDResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>