RememberVinil/BackOffice/Service References/FabricanteCService/FabricanteCService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FabricanteCService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:9012/FabricanteCService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:9012/FabricanteCService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:9012/FabricanteCService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FabricanteC" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFabricanteCService_GetQuote_InputMessage">
    <wsdl:part name="parameters" element="tns:GetQuote" />
  </wsdl:message>
  <wsdl:message name="IFabricanteCService_GetQuote_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetQuoteResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricanteCService_MakeCd_InputMessage">
    <wsdl:part name="parameters" element="tns:MakeCd" />
  </wsdl:message>
  <wsdl:message name="IFabricanteCService_MakeCd_OutputMessage">
    <wsdl:part name="parameters" element="tns:MakeCdResponse" />
  </wsdl:message>
  <wsdl:portType name="IFabricanteCService">
    <wsdl:operation name="GetQuote">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricanteCService/GetQuote" message="tns:IFabricanteCService_GetQuote_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricanteCService/GetQuoteResponse" message="tns:IFabricanteCService_GetQuote_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MakeCd">
      <wsdl:input wsaw:Action="http://tempuri.org/IFabricanteCService/MakeCd" message="tns:IFabricanteCService_MakeCd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFabricanteCService/MakeCdResponse" message="tns:IFabricanteCService_MakeCd_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFabricanteCService" type="tns:IFabricanteCService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetQuote">
      <soap:operation soapAction="http://tempuri.org/IFabricanteCService/GetQuote" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MakeCd">
      <soap:operation soapAction="http://tempuri.org/IFabricanteCService/MakeCd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FabricanteCService">
    <wsdl:port name="BasicHttpBinding_IFabricanteCService" binding="tns:BasicHttpBinding_IFabricanteCService">
      <soap:address location="http://localhost:9012/FabricanteCService/FabricanteCService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>