RememberVinil/FabricanteA/Service References/BOCallBack/BackOffice.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BackOffice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BackOffice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ObjectMakeCDResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabrica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="refRequestCD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectMakeCDResponse" nillable="true" type="tns:ObjectMakeCDResponse" />
  <xs:complexType name="TransportJobResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sucess" type="xs:boolean" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabrica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobResponse" nillable="true" type="tns:TransportJobResponse" />
  <xs:complexType name="TransportJobPriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refRequestPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobPriceResponse" nillable="true" type="tns:TransportJobPriceResponse" />
  <xs:complexType name="FabricantePriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabricante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refRequestPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricantePriceResponse" nillable="true" type="tns:FabricantePriceResponse" />
</xs:schema>