RememberVinil/BackOffice/Service References/TransportadoraServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Transportadora" />
  <xs:element name="TransportJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="request" nillable="true" type="q1:TransportJobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransportJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="TransportJobResult" nillable="true" type="q2:TransportJobPriceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransportJobPrice">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="request" nillable="true" type="q3:TransportJobPriceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransportJobPriceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="TransportJobPriceResult" nillable="true" type="q4:TransportJobPriceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>