RememberVinil/BackOffice/Service References/TransportadoraServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TransportadoraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Transportadora" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITransportadoraService_TransportJob_InputMessage">
    <wsdl:part name="parameters" element="tns:TransportJob" />
  </wsdl:message>
  <wsdl:message name="ITransportadoraService_TransportJob_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransportJobResponse" />
  </wsdl:message>
  <wsdl:message name="ITransportadoraService_TransportJobPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:TransportJobPrice" />
  </wsdl:message>
  <wsdl:message name="ITransportadoraService_TransportJobPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:TransportJobPriceResponse" />
  </wsdl:message>
  <wsdl:portType name="ITransportadoraService">
    <wsdl:operation name="TransportJob">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransportadoraService/TransportJob" message="tns:ITransportadoraService_TransportJob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransportadoraService/TransportJobResponse" message="tns:ITransportadoraService_TransportJob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TransportJobPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ITransportadoraService/TransportJobPrice" message="tns:ITransportadoraService_TransportJobPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITransportadoraService/TransportJobPriceResponse" message="tns:ITransportadoraService_TransportJobPrice_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITransportadoraService" type="tns:ITransportadoraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TransportJob">
      <soap:operation soapAction="http://tempuri.org/ITransportadoraService/TransportJob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TransportJobPrice">
      <soap:operation soapAction="http://tempuri.org/ITransportadoraService/TransportJobPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TransportadoraService">
    <wsdl:port name="BasicHttpBinding_ITransportadoraService" binding="tns:BasicHttpBinding_ITransportadoraService">
      <soap:address location="http://localhost:9002/TransportadoraService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>