RememberVinil/BackOffice/Service References/TransportadoraServiceReference/Transportadora.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Transportadora" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Transportadora" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TransportJobRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSCallback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabrica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobRequest" nillable="true" type="tns:TransportJobRequest" />
  <xs:complexType name="TransportJobPriceResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Price" type="xs:double" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="refRequestPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobPriceResponse" nillable="true" type="tns:TransportJobPriceResponse" />
  <xs:complexType name="TransportJobPriceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeliveryAdress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Distance" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WSCallback" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="encomendaID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="fabrica" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="userID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TransportJobPriceRequest" nillable="true" type="tns:TransportJobPriceRequest" />
</xs:schema>