RememberVinil/BackOffice/Service References/TransportadoraServiceReference/TransportadoraService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9002/TransportadoraService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Transportadora" />
  <xs:element name="TransportJob">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="request" nillable="true" type="q1:TransportJobRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TransportJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Transportadora" minOccurs="0" name="TransportJobResult" nillable="true" type="q2:TransportJobResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>